@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
}

body, html{
	scroll-behavior: smooth;
	width: 100%;
	margin: 0px;
}


.logo{
	width: 1200px;
	margin: 0 auto;
	padding: 12px 0;
}

.menu{
	width: 1200px;
	margin: 0 auto;
	padding: 14px;
	display: block;
	position: fixed;
}

::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track{
	background-color: #F5E9CF;
}

::-webkit-scrollbar-thumb{
	background-color: #4D455D;
}

::-webkit-scrollbar-corner{
	background-color: #F5E9CF;
}

.encabezado{
	width: 1200px;
	margin: 0;
	padding: 0 0;
}


.clearfix{
	clear: both;
	float: none;
}

header{
	width: 100%;
	height: 100px;
	background: #E96479;
	position: fixed;
	
	animation: entrada-izq 1.1s ease;
}

header img{
	float: left;
	height: 80px;
	width: auto;
	display: block;
	
	animation: entrada-izq 1.1s ease 0.8s forwards;
	opacity: 0;
}

  

/* Menú letras y decoración (efecto hover morado) */
nav{
	float: right;
    margin: 28px 0 0 0;
}

nav a{
	padding: 20px 30px;
	color: #FDFDFC;
	text-decoration: none;
	line-height: 70%;
	font-weight: 700;
	border-radius: 400px;
	
	transition: all 1s;
}

nav a:hover{
	background: #4D455D;
	color: #FDFDFC;
}

/* Animación de entrada de letras del menú */
#link1{
	animation: opacidad 0.5s ease-out 1s forwards;
	opacity: 0;
}

#link2{
	animation: opacidad 0.5s ease-out 1.1s forwards;
	opacity: 0;
}

#link3{
	animation: opacidad 0.5s ease-out 1.2s forwards;
	opacity: 0;
}

#link4{
	animation: opacidad 0.5s ease-out 1.3s forwards;
	opacity: 0;
}

#link5{
	animation: opacidad 0.5s ease-out 1.3s forwards;
	opacity: 0;
}
/* FIN animación de entrada de letras del menú */


.encabezado{
	width: 90%;
	overflow: hidden;
	float: center;
}

.encabezado a{
	display: block;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #ffffff;
	color: #E96479;
	font-weight: 700;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 500px;
	text-decoration: none;
	box-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}

.encabezado a:hover{
	background-color: #E96479;
	color: #ffffff;
}

.encabezado img{
	width: 1364px;
	height: auto;
	display: block;
}

/* SCROLL */

/* CONTACTO */
.contenido-contacto{
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}

.clearfix{
	clear: both;
	float: none;
}

/* Formulario */
form{
	margin: 3px 0 70px 373px;
	height: 400px;
}

.input-formulario{
	width: 50%;
	margin: 12px;
	padding: 10px;
	background: #F5E9CF;
	border-radius: 30px;
	border: none;
	float: left;
}

label{
	width: 50%;
	margin: 12px;
	float: left;
	display: block;	
}

textarea{
	min-height: 110px;
	resize: none;
}

input[type="submit"]{
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	background: #4D455D;
	color: white;
	float: left;
	margin: 10px 15px 0px 23px;
	display: block;
	border: none;
	font-size: 16px;
	
	transition: all 1s;
}

input[type="submit"]:hover{
	background: #F5E9CF;
	color: #4D455D;
}
/*FIN FORMULARIO*/


.section{
	width: 100%;
	height: 100vh;
    display: flex;
    justify-content: center;
	box-sizing: border-box;
}


#sobre-mi{
	background: rgba(243,182,159,255);
	background: linear-gradient(0deg, rgba(245, 233, 207) 10%, rgba(243,182,159,255)100%);
	height: 600px;
	width: auto;
	padding: 80px 40px;
	text-align: left;
}

#sobre-mi img{
	justify-content: left;
	display: block;
	float: left;
	width: auto;
	height: 600px;
	margin: 0 40px 0 0;
}


#sobre-mi h1{
	margin: 50px 0 10px 0;
	font-size: 30px;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}

#sobre-mi h2{
	margin: 0 0 10px 0;
	margin-top: 20px;
	font-size: 50px;
	color: #69342E;
}
#sobre-mi h3{
	margin: 0 0 0 0;
	font-size: 50px;
	color: #69342E;
}

#sobre-mi p{
	margin-right: 200px;
	margin-bottom: 20px;
	font-size: 15px;
	color: #1f0f0d;
}

.line-1{
	height: 8px;
	width: 60%;
	margin: 20px;
}

hr{
	background-color: #69342E;
	height: 3px;
}

#galeria{
	background: rgba(245,233,207);
	height: 600px;
	width: auto;
	padding-top: 130px;
	text-align: center;
}

#galeria h1{
	font-size: 30px;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}

.galeriass{
	padding-top: 30px;
	padding-left: 27%;
	padding-right: 28%;
	display: grid;
	grid-auto-rows: repeat (auto-fill, minmax(300px, 1fr));
	grid-auto-flow: column;
	overflow-x: scroll;
	grid-gap: 70%;
	grid-auto-columns: minmax(600px, 1fr);
	align-content: center;
}

.galeriass img{
	height: 400px;
	margin-bottom: 10px;
}


#contacto{
	background: rgba(245, 233, 207);
	background: linear-gradient(0deg, rgba(243,182,159) 10%, rgba(245,233,207) 100%);
	height: 600px;
	width: auto;
	padding: 115px 0 0 0;
	text-align: center;
}

#contacto h1{
	font-size: 30px;
    padding: 0 0 -40px 0;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}

#cotizacion{
	background: rgba(243,182,159,255);
	height: 600px;
	width: auto;
	padding-top: 100px;
	text-align: center;
}

#cotizacion h1{
	font-size: 30px;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}


/* FOOTER */

footer{
	width: 100%;
	background: #4D455D;
	padding: 25px 0;
	text-align: center;
	color: #FDFDFC;
}

/* REDES */
.redes{
	width: auto;
	height: 200px;
	display: flex;
	justify-content: center;
	background: rgba(243,182,159);
	
}

.redes img{
	width: 40px;
	height: auto;
	justify-content: center;
	padding: 10px 50px 0px 50px;
	display: flex;
	
	transition: all 0.8s;
}

.redes img:hover{
	transform: scale(1.1);
	
}

/* ANIMACIÓN */

@keyframes entrada-izq{
	from{
		transform: translate(-600px);
		opacity: 0;
	}
	
	to{
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes opacidad{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes entrada-der{
	from{
		transform: translate(-1000px);
		opacity: 0;
	}
	to{
		transform: translate(0);
		opacity: 1;
	}
}













