@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
}

.logo{
	width: 1200px;
	margin: 0 auto;
	padding: 12px 0;
}


.menu{
	width: 1200px;
	margin: 0 auto;
	padding: 14px;
	display: block;
	position: fixed;
}

/*.container {
	font-family:;
	font-style: italic;
	font-size: 30px;
	width: 600px;
	height: 554px;
	overflow:visible;
	position:absolute;
	top: 130px;
	left: 15px;
	color: #1f0f0d;

	animation: opacidad 1.3s ease-in-out 2.5s forwards;
	opacity: 0;
}

.container-dos{
	font-size: 30px;
	width: 600px;
	height: 554px;
	
	overflow: visible;
	position: absolute;
	top: 500px;
	left: 950px;
	padding-right: -100px;
	color: #1f0f0d;

	animation: opacidad 1.8s ease-in-out 3.3s forwards;
	opacity: 0;
}
*/

.encabezado{
	width: 1200px;
	margin: 0;
	padding: 0 0;
}

.clearfix{
	clear: both;
	float: none;
}

header{
	width: 100%;
	height: 100px;
	background: #E96479;
	position: fixed;
	
	animation: entrada-izq 1.1s ease;
}

header img{
	float: left;
	height: 78px;
	width: auto;
	display: block;
	
	animation: entrada-izq 1.1s ease 0.8s forwards;
	opacity: 0;
}

  

/* Menú letras y decoración (efecto hover morado) */
nav{
	float: right;
    margin: 28px 0 0 0;
}

nav a{
	padding: 20px 30px;
	color: #FDFDFC;
	text-decoration: none;
	line-height: 70%;
	font-weight: 700;
	border-radius: 400px;
	
	transition: all 1s;
}

nav a:hover{
	background: #4D455D;
	color: #FDFDFC;
}

/* Animación de entrada de letras del menú */
#link1{
	animation: opacidad 0.5s ease-out 1s forwards;
	opacity: 0;
}

#link2{
	animation: opacidad 0.5s ease-out 1.1s forwards;
	opacity: 0;
}

#link3{
	animation: opacidad 0.5s ease-out 1.2s forwards;
	opacity: 0;
}

#link4{
	animation: opacidad 0.5s ease-out 1.3s forwards;
	opacity: 0;
}

#link5{
	animation: opacidad 0.5s ease-out 1.3s forwards;
	opacity: 0;
}
/* FIN animación de entrada de letras del menú */

.banner{
	width: 90%;
	float: center;
	text-align: center;
}

.banner img{
	width: 1349px;
	height: auto;
	display: block;
}

/* SCROLL */
body, html{
	scroll-behavior: smooth;
}

/* CONTACTO */
.contenido-contacto{
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}

.clearfix{
	clear: both;
	float: none;
}
/* Formulario */
form{
	margin: 3px 0 70px 373px;
	height: 400px;
}

.input-formulario{
	width: 50%;
	margin: 12px;
	padding: 10px;
	background: #F5E9CF;
	border-radius: 30px;
	border: none;
	float: left;
}

label{
	width: 50%;
	margin: 12px;
	float: left;
	display: block;
	
}

textarea{
	min-height: 150px;
	resize: none;
	
}

input[type="submit"]{
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	background: #4D455D;
	color: white;
	float: left;
	margin: 15px;
	display: block;
	border: none;
	font-size: 16px;
	
	transition: all 1s;
}

input[type="submit"]:hover{
	background: #F5E9CF;
	color: #4D455D;
}
/*FIN FORMULARIO*/


.section{
	width: 100%;
	height: 100vh;
    display: flex;
    justify-content: center;
	box-sizing: border-box;
}


#sobre-mi{
	background: rgba(243,182,159,255);
	background: linear-gradient(0deg, rgba(245, 233, 207) 70%, rgba(243,182,159,255)100%);
	height: 600px;
	width: auto;
	padding: 80px 40px;
	text-align: left;
}

#sobre-mi img{
	justify-content: left;
	display: block;
	float: left;
	width: auto;
	height: 600px;
	margin: 0 40px 0 0;
}


#sobre-mi h1{
	margin: 50px 0 10px 0;
	font-size: 30px;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}

#sobre-mi h2{
	margin: 0 0 10px 0;
	margin-top: 20px;
	font-size: 50px;
	color: #69342E;
}
#sobre-mi h3{
	margin: 0 0 20px 40px;
	font-size: 50px;
	color: #69342E;
	margin-bottom: 40px;
}

#sobre-mi p{
	margin-right: 200px;
	margin-bottom: 20px;
	font-size: 15px;
	color: #1f0f0d;
}

#galeria{
	background: rgba(245,233,207);
	height: 600px;
	width: auto;
	padding-top: 50px;
	text-align: center;
}

#galeria h1{
	font-size: 30px;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}





#contacto{
	background: rgba(245, 233, 207);
	background: linear-gradient(0deg, rgba(243,182,159) 10%, rgba(245,233,207) 100%);
	height: 600px;
	width: auto;
	padding: 100px 0 0 0;
	text-align: center;
}

#contacto h1{
	font-size: 30px;
    padding: 0 0 -40px 0;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}

#cotizacion{
	background: rgba(243,182,159,255);
	height: 500px;
	width: auto;
	padding-top: 100px;
	text-align: center;
}

#cotizacion h1{
	font-size: 30px;
	color: #C66358;
	text-shadow: 1px 1px 2px rgba(105, 52, 46, 0.30);
}


/* FOOTER */

footer{
	width: 100%;
	background: #4D455D;
	padding: 25px 0;
	text-align: center;
	color: #FDFDFC;
}

/* REDES */
.redes{
	width: auto;
	height: 200px;
	display: flex;
	justify-content: center;
	background: rgba(243,182,159);
	
}

.redes img{
	width: 40px;
	height: auto;
	padding: 80px 50px 20px 50px;
	display:flex;
	
	transition: all 0.8s;
}

.redes img:hover{
	transform: scale(1.1);
	
}

/* ANIMACIÓN */

@keyframes entrada-izq{
	from{
		transform: translate(-600px);
		opacity: 0;
	}
	
	to{
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes opacidad{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes entrada-der{
	from{
		transform: translate(-1000px);
		opacity: 0;
	}
	to{
		transform: translate(0);
		opacity: 1;
	}
}













